name: Cron Job - MA Checker

on:
  push:
    branches:
      - main

  # Cho phép chạy thủ công từ UI
  workflow_dispatch:

  # Schedule phải nằm cùng cấp với push & workflow_dispatch
  schedule:
    # Chạy mỗi 30 phút, từ Thứ Hai đến Thứ Sáu, từ 09:00 - 15:30 giờ Việt Nam
    # => Tương ứng 02:00 - 08:30 UTC
    - cron: "*/1 * * * *"

jobs:
  run-script:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
      - uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20.x"
          cache: "npm"

      - name: Install dependencies
        run: npm install

      - name: Run MA checker
        run: node index.js
        env:
          SUPABASE_URL: ${{ secrets.SUPABASE_URL }}
          SUPABASE_KEY: ${{ secrets.SUPABASE_KEY }}
          TELEGRAM_BOT_TOKEN: ${{ secrets.TELEGRAM_BOT_TOKEN }}
          TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}
